# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Virtual environment
venv/
.env/
.venv/

# Model ML
ml/model/*.pkl

# Dataset
ml/dataset/raw/
ml/dataset/clean/

# Notebook
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
